@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --colors-primary-50: 233 229 255; /* #e9e5ff */
    --colors-primary-100: 201 191 255; /* #c9bfff */
    --colors-primary-200: 169 153 255; /* #a999ff */
    --colors-primary-300: 137 115 255; /* #8973ff */
    --colors-primary-400: 105 77 255; /* #694dff */
    --colors-primary-500: 99 60 255; /* #633cff */
    --colors-primary-600: 89 54 230; /* #5936e6 */
    --colors-primary-700: 67 41 172; /* #4329ac */
    --colors-primary-800: 53 32 137; /* #352089 */
    --colors-primary-900: 40 24 103; /* #281867 */

    --colors-neutral-0: 255 255 255; /* #ffffff */
    --colors-neutral-10: 250 250 250; /* #fafafa */
    --colors-neutral-20: 246 246 246; /* #f6f6f6 */
    --colors-neutral-30: 237 237 237; /* #ededed */
    --colors-neutral-40: 225 225 225; /* #e1e1e1 */
    --colors-neutral-50: 204 204 204; /* #c6c5c6 */
    --colors-neutral-60: 184 183 184; /* #b8b7b8 */
    --colors-neutral-70: 173 171 173; /* #adabad */
    --colors-neutral-80: 159 158 159; /* #9f9e9f */
    --colors-neutral-90: 145 144 146; /* #919092 */
    --colors-neutral-100: 131 130 132; /* #838284 */
    --colors-neutral-200: 118 116 118; /* #767476 */
    --colors-neutral-300: 104 102 105; /* #686669 */
    --colors-neutral-400: 92 90 93; /* #5c5a5d */
    --colors-neutral-500: 79 76 79; /* #4f4c4f */
    --colors-neutral-600: 67 65 68; /* #434144 */
    --colors-neutral-700: 51 49 52; /* #333134 */
    --colors-neutral-800: 37 35 38; /* #252326 */
    --colors-neutral-900: 26 23 27; /* #1a171b */

    --colors-surface-0: 252 253 254; /* #fcfdfe */
    --colors-surface-50: 248 250 252; /* #f8fafc */
    --colors-surface-100: 241 245 249; /* #f1f5f9 */
    --colors-surface-200: 226 232 240; /* #e2e8f0 */
    --colors-surface-300: 203 213 225; /* #cbd5e1 */
    --colors-surface-400: 148 163 184; /* #94a3b8 */
    --colors-surface-500: 100 116 139; /* #64748b */
    --colors-surface-600: 71 85 105; /* #475569 */
    --colors-surface-700: 51 65 85; /* #334155 */
    --colors-surface-800: 30 41 59; /* #1e293b */
    --colors-surface-900: 15 23 42; /* #0f172a */
    --colors-surface-950: 2 6 23; /* #020617 */

    --backgroundblur-xl-backdrop-filter: 20px;
    --backgroundblur-lg-backdrop-filter: 12px;
    --backgroundblur-md-backdrop-filter: 8px;
    --backgroundblur-sm-backdrop-filter: 4px;

    --box-shadow-3-xl: 0px 32px 64px -12px rgba(0, 0, 0, 0.14);
    --box-shadow-2-xl: 0px 24px 48px -12px rgba(0, 0, 0, 0.18);
    --box-shadow-xl: 0px 8px 8px -4px rgba(0, 0, 0, 0.03),
      0px 20px 24px -4px rgba(0, 0, 0, 0.08);
    --box-shadow-lg: 0px 4px 6px -2px rgba(0, 0, 0, 0.03),
      0px 12px 16px -4px rgba(0, 0, 0, 0.08);
    --box-shadow-md: 0px 2px 4px -2px rgba(0, 0, 0, 0.06),
      0px 4px 8px -2px rgba(0, 0, 0, 0.1);
    --box-shadow-sm: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    --box-shadow-xs: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    --box-shadow-top: 0px -4px 8px -4px rgba(0, 0, 0, 0.1);
  }

  .dark {
    --colors-neutral-0: 26 23 27; /* #1a171b */
    --colors-neutral-10: 37 35 38; /* #252326 */
    --colors-neutral-20: 51 49 52; /* #333134 */
    --colors-neutral-30: 67 65 68; /* #434144 */
    --colors-neutral-40: 79 76 79; /* #4f4c4f */
    --colors-neutral-50: 92 90 93; /* #5c5a5d */
    --colors-neutral-60: 104 102 105; /* #686669 */
    --colors-neutral-70: 118 116 118; /* #767476 */
    --colors-neutral-80: 131 130 132; /* #838284 */
    --colors-neutral-90: 145 144 146; /* #919092 */
    --colors-neutral-100: 159 158 159; /* #9f9e9f */
    --colors-neutral-200: 173 171 173; /* #adabad */
    --colors-neutral-300: 184 183 184; /* #b8b7b8 */
    --colors-neutral-400: 198 197 198; /* #c6c5c6 */
    --colors-neutral-500: 225 225 225; /* #e1e1e1 */
    --colors-neutral-600: 237 237 237; /* #ededed */
    --colors-neutral-700: 246 246 246; /* #f6f6f6 */
    --colors-neutral-800: 250 250 250; /* #fafafa */
    --colors-neutral-900: 255 255 255; /* #ffffff */

    --colors-surface-0: 1 3 11; /* #01030B */
    --colors-surface-50: 2 6 23; /* #020617 */
    --colors-surface-100: 15 23 42; /* #0f172a */
    --colors-surface-200: 30 41 59; /* #1e293b */
    --colors-surface-300: 51 65 85; /* #334155 */
    --colors-surface-400: 71 85 105; /* #475569 */
    --colors-surface-500: 100 116 139; /* #64748b */
    --colors-surface-600: 148 163 184; /* #94a3b8 */
    --colors-surface-700: 203 213 225; /* #cbd5e1 */
    --colors-surface-800: 226 232 240; /* #e2e8f0 */
    --colors-surface-900: 241 245 249; /* #f1f5f9 */
    --colors-surface-950: 248 250 252; /* #f8fafc */

    --box-shadow-3-xl: 0px 32px 64px -12px rgba(1, 3, 11, 0.5);
    --box-shadow-2-xl: 0px 24px 48px -12px rgba(2, 6, 23, 0.45);
    --box-shadow-xl: 0px 8px 8px -4px rgba(15, 23, 42, 0.3),
      0px 20px 24px -4px rgba(15, 23, 42, 0.35);
    --box-shadow-lg: 0px 4px 6px -2px rgba(30, 41, 59, 0.3),
      0px 12px 16px -4px rgba(30, 41, 59, 0.35);
    --box-shadow-md: 0px 2px 4px -2px rgba(51, 65, 85, 0.4),
      0px 4px 8px -2px rgba(51, 65, 85, 0.45);
    --box-shadow-sm: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    --box-shadow-xs: 0px 1px 2px 0px rgba(100, 116, 139, 0.35);
    --box-shadow-top: 0px -4px 8px -4px rgba(71, 85, 105, 0.4);
  }

  * {
    @apply m-0 box-border p-0 font-Inter;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
  }

  body {
    @apply text-neutral-600;
  }

  html {
    @apply scroll-smooth;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-Rubik text-neutral-900;
  }
  p,
  span {
    @apply text-neutral-600;
  }
}

@layer utilities {
  .bg-loader {
    @apply bg-neutral-30 dark:bg-surface-200;
  }
}

@layer components {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .h1 {
    @apply text-[2.375rem] font-medium leading-[2.875rem] md:text-[3.625rem] md:leading-[4.75rem];
  }

  .h2 {
    @apply text-[1.75rem] font-medium leading-[2.125rem] md:text-[3rem] md:leading-[3.5rem];
  }

  .h3 {
    @apply text-[1.5rem] font-normal leading-[1.8125rem] md:text-[2.375rem] md:font-medium md:leading-[2.875rem];
  }

  .h4 {
    @apply text-[1.375rem] font-normal leading-6 md:text-[2rem] md:leading-[2.375rem];
  }

  .h5 {
    @apply text-[1.25rem] font-normal leading-[1.375rem] md:text-[1.625rem] md:leading-[2rem];
  }

  .h6 {
    @apply text-[1.125rem] font-normal leading-[1.375rem] md:text-[1.375rem] md:leading-[1.625rem];
  }
}
